@font-face
  font-family: "Jost"
  src: url('../assets/fonts/Jost-500-Medium.ttf')

html
  padding: 0
  scroll-behavior: smooth 
  
body
  padding: 0
  background: white
  font-family: "Jost", Arial

// Navbar 

.navigation-container
  width: 100%
  display: flex
  align-items: center 
  justify-content: space-around
  padding: 0 80px
  position: fixed

  @media (max-width: 768px)
    padding: 0 
  
  &__logo
    display: flex
    align-items: center
    justify-content: center
    flex: 1 1 0px

    img
      width: 100px
      height: 20px
    
  &__user-menu
    display: flex
    align-items: center
    justify-content: flex-end
    margin: 0 20px
    flex: 1 1 0px

    &__icon
      width: 20px
      height: 20px
      margin: 0 5px


.navbar 
  flex: 1 1 0px

.navbar-light .navbar-nav .nav-link 
    color: black

    &:hover
      color: black
      text-decoration: underline

    &:visited
      text-decoration: underline

// Background Image 

.background-img 
  position: relative
  top: 0
  width: 100%
  background-size: contain
  height: 550px
  z-index: -1

  @media (max-width: 768px)
    height: 400px

// Carousel 

.carousel-container 
  background-color: #263a49

.row 
  display: flex
  flex-wrap: nowrap
  align-items: center
  justify-content: center

.card 
  width: 18rem 
  margin: 20px

  @media (max-width: 768px)
    flex: 0 35%

.product-description
  position: absolute
  bottom: 8px
  left: 16px

  &__name
    font-size: 20px
  
  &__price
    font-size: 16px

// New Arrivals 

.new-arrivals-container
  display: flex 
  align-items: center
  justify-content: center
  flex-direction: column

  img 
    @media (max-width: 768px)
      height: 200px

  &__title
    width: 100%
    margin: 50px
    font-size: 20px
    text-align: center

    @media (max-width: 768px)
      margin: 20px

  &__products-container
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
  
  &__product-name
    font-size: 14px 
    
    @media (max-width: 768px)
      font-size: 10px

  &__product-price
    font-size: 13px
    margin: 10px 0 15px 0

    @media (max-width: 768px)
      font-size: 9px
      margin: 0

  &__cart-container
    display: flex 
    align-items: center 
    justify-content: space-between

    img 
      width: 20px
      height: 20px
    
      @media (max-width: 768px)
        width: 15px 
        height: 15px
  
    &__add-to-cart
      text-transform: uppercase
      font-size: 12px

      @media (max-width: 768px)
        font-size: 8px

  &__all-products-button
    background-color: white
    border: 3px solid
    font-size: 10px
    margin: 10px

.card-body
  padding: 10px 

// Images grid

.img-text
  position: absolute
  top: 8px
  left: 16px
  margin: 10px auto
  font-size: 14px

.shop-now
  top: 30px
  font-size: 10px

.imgs-container 
  width: 80%
  margin: 20px 40px
  display: grid
  grid-template-columns: 557px 390px 390px
  grid-template-rows: repeat(2, 325px)
  grid-column-gap: 10px
  grid-row-gap: 10px

  @media (max-width: 768px)
    display: flex
    flex-direction: column

  &__img
    position: relative
    text-align: center

    & > img 
      height: 100%
      width: 100%
      object-fit: cover

    @media (max-width: 768px)
      margin: 10px 0
  
  .img-1 
    grid-area: 1 / 1 / 3 / 2
  .img-2
    grid-area: 1 / 2 / 2 / 3
  .img-3
    grid-area: 1 / 3 / 2 / 4
  .img-4 
    grid-area: 2 / 2 / 3 / 4
  

// Newsletter 

.newsletter-container 
  display: flex
  flex-direction: column
  align-items: center 
  justify-content: center
  margin-bottom: 20px


  &__title 
    font-size: 20px
    margin: 30px 0

    @media (max-width: 768px)
      margin: 10px 0

  &__subtitle 
    font-size: 12px
    margin: 20px 0

    @media (max-width: 768px)
      margin: 10px 0

.form-control 
  width: 80%


// Footers

.upper-footer
  width: 100%
  display: flex
  justify-content: space-around
  align-items: center
 
  @media (max-width: 768px)
    flex-direction: column

  &__social-icons-container
    display: flex 
    justify-content: center
    flex: 0 30%

  &__links-container
    display: flex 
    justify-content: space-around
    flex: 0 30%

    @media (max-width: 768px)
      margin: 10px 0

    > a 
      margin: 0 10px
      font-size: 12px

  &__selects-container 
    display: flex
    justify-content: center
    align-items: center
    flex: 0 30%

label
  opacity: 0.5
  margin: 0 5px
  font-size: 12px

select
  border: 1px solid
  font-size: 12px

.fa 
  width: 40px 
  background: white
  color: black 
  border-radius: 10px

.bottom-footer
  display: flex
  width: 100%
  justify-content: space-around
  align-items: center
  margin-bottom: 10px
  
  > div
    font-size: 12px

  > img 
    height: 20px
    width: 200px

    @media (max-width: 768px)
      height: 10px
      width: 100px


.scroll-to-top 
  display: none
  margin: 50vh auto
  position: fixed
  right: 20px
  z-index: 99
  border: none
  background-color: transparent
  color: black;
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 25px; /* Rounded corners */
  font-size: 18px; /* Increase font size */


.hidden-product
  display: none


.carousel
  display: flex 
  flex-direction: row
  flex-wrap: no-wrap
  position: relative
  overflow: hidden 
  width: 100%
  @media (max-width: 768px)
    justify-content: space-around

.carousel__button--next, .carousel__button--prev 
  position: sticky
  text-align: center
  top: 50%
  width: 2rem
  height: 2rem
  background-color: transparent
  border: 2px solid white
  color: white
  cursor: pointer
  z-index: 1001
  text-size: 12px

.carousel__button--prev
    left: 0
   
.carousel__button--next
    right: 0
   
.carousel-card 
  @media (min-width: 768px)  
    margin: 0 20px

    